* {
  user-select: none;
}

html {
  font-family: 'Permanent Marker', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  background: black;
}

body {
  background-image: url('../img/bryan-goff-360297-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 50px;
  text-align: center;
}

#board {
  width: 630px;
  height: 630px;
  margin: 0 auto;
}

div[id^="row-"] {
  overflow: hidden;
  float: clear;
}

div[id^="row-"] div {
  border: 5px solid white;
  height: 200px;
  width: 200px;
  display: inline-block;
  float: left;
  font-family: 'Permanent Marker', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150px;
  text-align: center;
}

div#row-1 div {
  border-top: none;
}

div#row-3 div {
  border-bottom: none;
}

div[id^='row-'] div:first-child {
  border-left: none;
}

div[id^='row-'] div:last-child {
  border-right: none;
}

#resetBtn {
  display: none;
  padding: 0.5em 0.75em;
  border: 0.1em solid white;
  font-size: 16px;
  margin: 0 0.3em;
  font-weight: 300;
  width: 25%;
  color: white;
  text-align: center;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Permanent Marker', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resetBtn:hover {
  color: black;
  background-color: white;
}

#tally {
  float: left;
  text-align: center;
}

table {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  text-align: center;
}