.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  height: 40%;
  text-align: center;
  margin: 15% auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.card button {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
}

.card button:hover {
  background-color: #f44336;
  color: white;
}

.container {
  padding: 2px 16px;
}

.changed {
  background-image: url('../img/annie-spratt-96533-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
}

#msg, #wish {
  color: white;
  font-size: 100px;
  text-align: center;
}


#wish {
  margin-top: 400px;
}